In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Output will be Salary, ill use regression

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
model=Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) ## Output
])

# Compile

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Early stopping

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100376.9141 - mae: 100376.9141 - val_loss: 98525.2500 - val_mae: 98525.2500
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99695.6094 - mae: 99695.6094 - val_loss: 97190.5391 - val_mae: 97190.5391
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 97385.9219 - mae: 97385.9219 - val_loss: 93845.7031 - val_mae: 93845.7031
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 92865.7656 - mae: 92865.7656 - val_loss: 88208.6250 - val_mae: 88208.6250
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 86181.4531 - mae: 86181.4531 - val_loss: 80723.3203 - val_mae: 80723.3203
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 77997.2344 - mae: 77997.2344 - val_loss: 72447.9141 - val_mae: 72447.9141
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 69604.6797 - mae: 69604.6797 - val_loss: 64752.9297 - val_mae: 64752.9297
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 62250.3086 - mae: 62250.3086 - val_loss: 58636.0117 - val_mae: 58636.0117
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 56831.7891 - mae: 56831.7891 - val_loss: 54494.7695 - val_mae: 54494.7695
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 53428.1719 - mae: 53428.1719 - val_loss: 52187.0273 - val_mae: 52187.0273
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51648.6328 - mae: 51648.6328 - val_loss: 51234.8750 - val_mae: 51234.8750
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50824.1875 - mae: 50824.1875 - val_loss: 50850.4375 - val_mae: 50850.4375
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50473.9648 - mae: 50473.9648 - val_loss: 50699.2109 - val_mae: 50699.2109
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50287.7656 - mae: 50287.7656 - val_loss: 50611.3750 - val_mae: 50611.3750
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50194.3281 - mae: 50194.3281 - val_loss: 50573.3047 - val_mae: 50573.3047
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50134.4727 - mae: 50134.4727 - val_loss: 50543.6172 - val_mae: 50543.6172
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50080.7148 - mae: 50080.7148 - val_loss: 50513.7305 - val_mae: 50513.7305
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50042.6055 - mae: 50042.6055 - val_loss: 50485.5117 - val_mae: 50485.5117
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50005.2070 - mae: 50005.2070 - val_loss: 50465.5312 - val_mae: 50465.5312
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49973.8828 - mae: 49973.8828 - val_loss: 50444.6680 - val_mae: 50444.6680
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49949.9141 - mae: 49949.9141 - val_loss: 50423.9570 - val_mae: 50423.9570
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49917.5352 - mae: 49917.5352 - val_loss: 50413.9844 - val_mae: 50413.9844
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49891.5078 - mae: 49891.5078 - val_loss: 50392.6719 - val_mae: 50392.6719
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49870.4453 - mae: 49870.4453 - val_loss: 50370.6172 - val_mae: 50370.6172
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49849.7227 - mae: 49849.7227 - val_loss: 50358.0547 - val_mae: 50358.0547
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49828.6523 - mae: 49828.6523 - val_loss: 50352.6836 - val_mae: 50352.6836
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49807.4141 - mae: 49807.4141 - val_loss: 50334.6875 - val_mae: 50334.6875
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49790.8516 - mae: 49790.8516 - val_loss: 50319.6797 - val_mae: 50319.6797
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49776.0977 - mae: 49776.0977 - val_loss: 50314.8398 - val_mae: 50314.8398
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49755.7617 - mae: 49755.7617 - val_loss: 50304.3711 - val_mae: 50304.3711
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49742.0859 - mae: 49742.0859 - val_loss: 50305.7305 - val_mae: 50305.7305
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49727.2773 - mae: 49727.2773 - val_loss: 50293.7266 - val_mae: 50293.7266
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49714.6016 - mae: 49714.6016 - val_loss: 50279.8633 - val_mae: 50279.8633
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49701.3320 - mae: 49701.3320 - val_loss: 50277.1211 - val_mae: 50277.1211
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49688.3242 - mae: 49688.3242 - val_loss: 50267.7852 - val_mae: 50267.7852
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49675.2227 - mae: 49675.2227 - val_loss: 50264.2188 - val_mae: 50264.2188
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49664.7656 - mae: 49664.7656 - val_loss: 50266.9492 - val_mae: 50266.9492
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49655.0977 - mae: 49655.0977 - val_loss: 50258.0312 - val_mae: 50258.0312
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49643.4141 - mae: 49643.4141 - val_loss: 50261.9336 - val_mae: 50261.9336
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49631.5430 - mae: 49631.5430 - val_loss: 50255.7930 - val_mae: 50255.7930
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49622.9648 - mae: 49622.9648 - val_loss: 50251.6758 - val_mae: 50251.6758
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49613.3047 - mae: 49613.3047 - val_loss: 50248.8008 - val_mae: 50248.8008
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49600.7227 - mae: 49600.7227 - val_loss: 50241.8086 - val_mae: 50241.8086
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49592.3086 - mae: 49592.3086 - val_loss: 50242.2656 - val_mae: 50242.2656
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49583.3711 - mae: 49583.3711 - val_loss: 50239.4336 - val_mae: 50239.4336
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49576.1758 - mae: 49576.1758 - val_loss: 50247.4453 - val_mae: 50247.4453
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49565.7539 - mae: 49565.7539 - val_loss: 50244.1875 - val_mae: 50244.1875
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49559.7734 - mae: 49559.7734 - val_loss: 50234.1367 - val_mae: 50234.1367
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49552.4023 - mae: 49552.4023 - val_loss: 50237.1328 - val_mae: 50237.1328
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49544.9258 - mae: 49544.9258 - val_loss: 50242.6641 - val_mae: 50242.6641
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49538.1250 - mae: 49538.1250 - val_loss: 50237.5039 - val_mae: 50237.5039
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49530.3203 - mae: 49530.3203 - val_loss: 50239.5469 - val_mae: 50239.5469
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49521.8789 - mae: 49521.8789 - val_loss: 50252.6133 - val_mae: 50252.6133
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49515.5000 - mae: 49515.5000 - val_loss: 50248.2188 - val_mae: 50248.2188
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49512.4102 - mae: 49512.4102 - val_loss: 50248.3281 - val_mae: 50248.3281
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49505.3164 - mae: 49505.3164 - val_loss: 50252.9297 - val_mae: 50252.9297
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.2969 - mae: 49498.2969 - val_loss: 50251.1367 - val_mae: 50251.1367
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49494.6289 - mae: 49494.6289 - val_loss: 50259.4414 - val_mae: 50259.4414

In [17]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 30296), started 0:00:04 ago. (Use '!kill 30296' to kill it.)

In [22]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test mae + {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50234.1367 - mae: 50234.1367
Test mae + 50234.13671875

In [23]:
model.save('regression_model.h5')

c:\Users\khot1\anaconda3\envs\cdvenv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(